@media (max-device-width: 991px) {
	.app {
		width:100%;
		height:270px!important;
	}
	#app {
	max-width: 100%;
	padding: 0 10px;
	margin: 0 auto;
	}
	#logo-app {
	    float: center!important;
	}
	.text-app {
	float:center!important;
    font-family: 'SB Sans Display',sans-serif;
	font-weight:normal;
	font-size: 2rem;
	}
	button {
		width:100%;
	}
	.btn-custom {
		--bs-btn-padding-y: 10px!important;
		--bs-btn-padding-x: 1rem!important;
		--bs-btn-font-size: 15px!important;
		--bs-btn-border-radius: 12px!important;
		float: center!important;
	}
	#about {
		align-items:center;
		justify-content:center;
	}
}

@media only screen and (min-width: 992px) {
	.app {
		height:340px!important;
	}
	#app {
	max-width: 80%;
	margin: 0 auto;
	}
	#logo-app {
	    float: left!important;
	}
	.text-app {
	float: left!important;
    font-family: 'SB Sans Display',sans-serif;
	font-weight:normal;
	font-size: 2rem;
	}
	button {
		width:300px;
	}
	.btn-custom {
		--bs-btn-padding-y: 8px!important;
		--bs-btn-padding-x: 1rem!important;
		--bs-btn-font-size: 15px!important;
		--bs-btn-border-radius: 12px!important;
		float: left!important;
	}
	#about {
		align-items:right;
		justify-content:right;
	}
}

small {
	font-size: 13px!important;
}

#info-block {
	border: #F3F3F3;
}

.card {
	border: #F3F3F3!important;
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
